<!DOCTYPE html>
html(lang="en")
    head
    title Login
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet")
    link(href="stylesheets/style.css" rel="stylesheet")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    body
        h1 Welcome to RMS
        div.container(style="text-align:center")
            p #{message}
        div.container
            <form method="POST" action="/customer/create">
                <div class="form-group row">
                    <label for="username" class="col-sm-2 col-form-label">Username</label>
                    <div class="col-sm-10">
                    input(type="text" class="form-control" id="username" value=username name="username" required)
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                    input(type="password" minlength="8" class="form-control" id="password" name="password" required)
                    </div>
                </div>
                <div class="form-group row">
                    <label for="name" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                    input(type="text" class="form-control" id="name" name="name" required value=name)
                    </div>
                </div>
                <div class="form-group row">
                    <label for="hno" class="col-sm-2 col-form-label">House Number</label>
                    <div class="col-sm-10">
                    input(type="text" class="form-control" id="hno" name="hno" required value=hno)
                    </div>
                </div>
                <div class="form-group row">
                    <label for="street" class="col-sm-2 col-form-label">Street</label>
                    <div class="col-sm-10">
                    input(type="text" class="form-control" id="street" name="street" required value=street)
                    </div>
                </div>
                <div class="form-group row">
                    <label for="city" class="col-sm-2 col-form-label">City</label>
                    <div class="col-sm-10">
                    input(type="text" class="form-control" id="city" name="city" required value=city)
                    </div>
                </div>
                <div class="form-group row">
                    <label for="state" class="col-sm-2 col-form-label">State</label>
                    <div class="col-sm-10">
                    input(type="text" class="form-control" id="state" name="state" required value=state)
                    </div>
                </div>
                <div class="form-group row">
                    <label for="country" class="col-sm-2 col-form-label">Country</label>
                    <div class="col-sm-10">
                    input(type="text" class="form-control" id="country" name="country" required value=country)
                    </div>
                </div>
                <div class="form-group row">
                    <label for="pin" class="col-sm-2 col-form-label">Pin code</label>
                    <div class="col-sm-10">
                    input(type="text" class="form-control" id="pin" name="pin" required pattern="[0-9]{6}" title="Six digit pincode" value=pin)
                    </div>
                </div>
                <div class="form-group row">
                    <label for="phone" class="col-sm-2 col-form-label">Phone Number</label>
                    <div class="col-sm-10">
                    input(type="text" class="form-control" id="phone" name="phone" pattern="[0-9]{10}" title="Ten digit mobile number" required value=phone)
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Create Account</button>
            </form>
