<!DOCTYPE html>
html(lang="en")
    head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="preconnect" href="https://fonts.gstatic.com")
    link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet")
    link(href="stylesheets/style.css" rel="stylesheet")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    style.
        body {
            background-image: none
        }
    body
        h1(style="text-align:center", id = "top_of_page") Hello, #{name}!
        
        div.container
            h3 Edit your personal details:
            br
            br
            if err
                <p style = "color:Red">#{err_msg}</p>
            form(method="POST",action='/editpersonaldetails/update')
                <label>Full Name:</label>
                br
                input(type='text', name = 'full_name', value = name, required)
                br
                <label>New Password:</label>
                br
                input(type='password', name = 'password', placeholder="Password")
                input(type = "hidden", name = 'hidden_password', value=pd.password)
                br
                <label>Phone numbers(comma separated):</label>
                br
                input(type='text', name = 'phone_no', value = phone_numbers)
                br
                br
                if role == 'cashier' || role == 'head-waiter'
                    <p><b>Working hours/ time slots:</b></p>
                    <p style="font-size:13px">time slot (x) is the time period from (x):00hrs to ((x+1)mod24):00hrs</p>
                    <p>#{time_slots}</p>
                br
                <p><b>Address:</b></p>
                <label>House No:</label>
                br
                input(type='text', name = 'house_no', value = pd.address_house_no)
                br
                <label>Street:</label>
                br
                input(type='text', name = 'street', value = pd.address_street)
                br
                <label>City:</label>
                br
                input(type='text', name = 'city', value = pd.address_city)
                br
                <label>State:</label>
                br
                input(type='text', name = 'state', value = pd.address_state)
                br
                <label>Coutry:</label>
                br
                input(type='text', name = 'country', value = pd.address_country)
                br
                <label>PIN:</label>
                br
                input(type='number', min = "0", step = "1", name = 'pin', value = pd.address_pin_code)
                br
                br

                input(type='hidden', name='id',value=id)
                input(type='hidden', name='role',value=role)
                br
                br
                button(class="btn",type="submit", style = 'background-color:Blue;color:White') Update
        
