extends customer_base

block content
    if message
        div.container
            p #{message}
    else
        div.container
            div.container
                h1(style="font-family: 'Sacramento', cursive; font-size:60px") Order Details
            <table class="table-responsive-sm table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Rate</th>
                    <th scope="col">Review</th>
                    </tr>
                </thead>
                <tbody id="main_table">
                    each val in items
                        <tr>
                            td 
                                a(href='/customer/menu/'+val['itemid']) #{val['name']}
                            td #{val['price']}
                            td #{val['quantity']}
                            td  
                                form(class="form-inline" method="POST" action="/customer/rate/"+val['itemid']+"/"+orderid)
                                    if allow
                                        input(required type="number" min="1" max="5" class="form-control mb-2 mr-sm-2" id="rating" name="rating" placeholder=val['mystars'])
                                        <button type="submit" class="btn btn-primary mb-2">Submit</button>
                                    else
                                        input(required type="number" min="1" max="5" class="form-control mb-2 mr-sm-2" id="rating" name="rating" placeholder=val['mystars'] disabled)
                                        <button type="submit" class="btn btn-primary mb-2" disabled>Submit</button>
                            td  
                                form(class="form-inline" method="POST" action="/customer/review/"+val['itemid']+"/"+orderid)
                                    if allow
                                        input(required type="text" class="form-control mb-2 mr-sm-2" id="review" name="review" value=val['myreview'])
                                        <button type="submit" class="btn btn-primary mb-2">Submit</button>
                                    else
                                        input(required type="text" class="form-control mb-2 mr-sm-2" id="review" name="review" value=val['myreview'] disabled)
                                        <button type="submit" class="btn btn-primary mb-2" disabled>Submit</button>
                        </tr>
                </tbody>
            </table>
            div.container(style="text-align: right")
                p Total price is #{total_price}
                p Status of order #{status}

